<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Developers Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheet/devs.css">
</head>
<body>
    <div id = "main-form">
            <div id = "welcome">
                <div id = "welcome-text">
                    <p id = "wel2"><span id = "wel">Developers,</span></br>Your feedback is valuable send it at one of ours.</p>  
                </div>
            </div>
            <div>
                <div id = "yasser"><img src="/img/Yasser.jpeg" alt="Yasser"></div> 
                <label id = "yalabel" for="yasser">Yasser Arafat</br></label>
                <span id ="icoya">
                        <a href="https://github.com/CodeDude19" target="blank"><img class = "git" src="https://img.icons8.com/ios-glyphs/60/000000/github.png"></a>
                        <a href="https://www.linkedin.com/in/yasser-arafat-138125154/" target="blank"><img class="lik" src="https://img.icons8.com/ios-glyphs/60/000000/linkedin-circled.png"></a>
                        <a href="https://www.facebook.com/dave.copperfield.19" target="blank"><img class = "fa" src="https://img.icons8.com/ios-glyphs/60/000000/facebook-circled.png"></a>   
                </span>
            </div>
            <div>
                <div id = "arnab"><img src="/img/Arnab.jpeg" alt="Arnab"></div> 
                <label id = "alabel" for="yasser">Arnab Biswas</br></label>
                <span id = "icoar">
                    <a href="https://github.com/ArnabBiswas2303" target="blank"><img class = "git" src="https://img.icons8.com/ios-glyphs/60/000000/github.png"></a>
                    <a href="https://www.linkedin.com/in/arnab-biswas-6a2875157/" target="blank"><img class="lik" src="https://img.icons8.com/ios-glyphs/60/000000/linkedin-circled.png"></a>
                    <a href="https://www.facebook.com/Arnabdbst" target="blank"><img class = "fa" src="https://img.icons8.com/ios-glyphs/60/000000/facebook-circled.png"></a>   
                </span>
                <a href="/"><button id= "back">back</button></a>
            </div>

            
    </div>
</body>
</html>